@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', sans-serif;
  background-color: rgb(32, 32, 32);
}
html, body {
  height: 100%;
  width: 100%;
}
.container{
    margin: 80px 40px;
}
.button{
    text-align: center;
    width: 66px;
    padding: 8px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background-color: silver;
    font-size: 29px;
}

.row{
  margin: 8px 0;
}
.row input{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: silver;
    color: black;
}
.button, .input{
    box-shadow: 4px 4px 8px 8px black;
    font-weight: 600;
}
.delete{
  color: red;
  font-weight: 900;
}
.operation{
  color: blue;
  font-weight: 900;
}

.text-center{
  text-align: center;
  color: aqua;
  font-size: 4em;
  margin: 80px 40px;
  text-shadow: 2px 2px 8px 8px rgb(0, 0, 0);
}

.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}